---
layout: people
title: Faculty
link: HOME / PEOPLE
des: la ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit ulla ipsum, et pharetra libero rh.
permalink: /faculty/
---

<style>
    .background-about{
      background-image: url("{{ site.baseurl }}/images/Faculty.png");
    }

</style>

<h3 id ="peopleh3"> <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #ffffff;"></i> Filter By</h3>
<div id="filter-bg">
<br>

<div class="search-container">
    <div class="row">
        <div class="col-md-12 bar-box">
            <input type="text" id="search-bar" placeholder="Search by Research Area ...">
            <div class="">
                <button class="research-btn">Search by Research Area</button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="dropdown2">
                <button class="dropbtn">Research Area <i class="fa-solid fa-caret-down"></i></button>
                <div class="dropdown-content2">
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Machine Learning" value="Machine Learning">
                        <label for="Machine Learning">Machine Learning</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Robotics" value="Robotics">
                        <label for="Robotics">Robotics</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Artificial Intelligence" value="Artificial Intelligence">
                        <label for="Artificial Intelligence">Artificial Intelligence</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Computer Vision" value="Computer Vision">
                        <label for="Computer Vision">Computer Vision</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Medical Image Analysis" value="Medical Image Analysis">
                        <label for="Medical Image Analysis">Medical Image Analysis</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Econometrics" value="Econometrics">
                        <label for="Econometrics">Econometrics</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Causal Inference" value="Causal Inference">
                        <label for="Causal Inference">Causal Inference</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Health Economics" value="Health Economics">
                        <label for="Health Economics">Health Economics</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Econometrics" value="Econometrics">
                        <label for="Econometrics">Econometrics</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Large scale Brain Networks" value="Large scale Brain Networks">
                        <label for="Large scale Brain Networks">Large scale Brain Networks</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Multisensory speech perception " value="Multisensory speech perception ">
                        <label for="Multisensory speech perception ">Multisensory speech perception </label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Network Neuroscience" value="Network Neuroscience">
                        <label for="Network Neuroscience">Network Neuroscience</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Cognitive Brain dynamics" value="Cognitive Brain dynamics">
                        <label for="Cognitive Brain dynamics">Cognitive Brain dynamics</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Visual computations" value="Visual computations">
                        <label for="Visual computations">Visual computations</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id=" Eye tracking & Human behavior, Predictive coding" value=" Eye tracking & Human behavior, Predictive coding">
                        <label for=" Eye tracking & Human behavior, Predictive coding"> Eye tracking & Human behavior, Predictive coding</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Macroeconomics" value="Macroeconomics">
                        <label for="Macroeconomics">Macroeconomics</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </div>
            </div>
            <div class="dropdown2">
                <button class="dropbtn">Centers <i class="fa-solid fa-caret-down"></i></button>
                <div class="dropdown-content2 centers">
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Centre for Mathematical and Computational Economics" value="Centre for Mathematical and Computational Economics">
                        <label for="Centre for Mathematical and Computational Economics">Centre for Mathematical and Computational Economics</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Centre for Brain Science and Applications" value="Center for Brain Science and Applications">
                        <label for="Centre for Brain Science and Applications">Centre for Brain Science and Applications</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Centre for Excellence in Intelligent Infrastructure" value="Centre for Excellence in Intelligent Infrastructure">
                        <label for="Centre for Excellence in Intelligent Infrastructure">Centre for Excellence in Intelligent Infrastructure</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Centre for Excellence in AI-based Precision Healthcare" value="Centre for Excellence in AI-based Precision Healthcare">
                        <label for="Centre for Excellence in AI-based Precision Healthcare">Centre for Excellence in AI-based Precision Healthcare</label>
                    </div>
                </div>
            </div>
            <div class="dropdown2">
                <button class="dropbtn">Themes <i class="fa-solid fa-caret-down"></i></button>
                <div class="dropdown-content2 labs">
                    <div class="coe-checkbox">
                        <input type="checkbox" id="" value="">
                        <label for="">XYZ</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="" value="">
                        <label for="">ABC</label>
                    </div>
                    <!-- Add checkboxes for Labs and Themes -->
                </div>
            </div>
            <div class="dropdown2">
                <button class="dropbtn">Title <i class="fa-solid fa-caret-down"></i></button>
                <div class="dropdown-content2 Title">
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Assistant Professor" value="Assistant Professor">
                        <label for="Assistant Professor">Assistant Professor</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Associate Professor" value="Associate Professor">
                        <label for="Associate Professor">Associate Professor</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Visiting Professor" value="Visiting Professor">
                        <label for="Visiting Professor">Visiting Professor</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Professor" value="Professor">
                        <label for="Professor">Professor</label>
                    </div>
                    <!-- Add checkboxes for Title -->
                </div>
            </div>
            <div class="dropdown2">
                <button class="dropbtn">Type <i class="fa-solid fa-caret-down"></i></button>
                <div class="dropdown-content2 Type">
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Core Faculty" value="Core Faculty">
                        <label for="Core Faculty">Core Faculty</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Affiliated Faculty" value="Affiliated Faculty">
                        <label for="Affiliated Faculty">Affiliated Faculty</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Adjunct Faculty" value="Adjunct Faculty">
                        <label for="Adjunct Faculty">Adjunct Faculty</label>
                    </div>
                    <div class="coe-checkbox">
                        <input type="checkbox" id="Professor of Practice" value="Professor of Practice">
                        <label for="Professor of Practice">Professor of Practice</label>
                    </div>
                    <!-- Add checkboxes for Labs and Themes -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="filter-indicators">
    <div class="filter-indicator"  data-filter="Core Faculty">
        <div class="checkbox"></div>
        <span>Core Faculty</span>
    </div>
    <div class="filter-indicator" data-filter="Affiliated Faculty">
        <div class="checkbox"></div>
        <span>Affiliate Faculty</span>
    </div>
    <div class="filter-indicator" data-filter="Adjunct Faculty">
        <div class="checkbox"></div>
        <span>Adjunct Faculty</span>
    </div>
    <div class="filter-indicator"  data-filter="Professor of Practice">
        <div class="checkbox"></div>
        <span>Professor in Practice</span>
    </div>
</div> -->

</div>
<div class="selected-filters">
    <div id="selected-filters-container"></div>
</div>

<br>

<div class="row" id="teamMembers">
    {% assign sorted_members = site.data.team | sort: "year" %}
    {% for member in sorted_members %}
        {% if member.display == 1 and member.faculty == 1 %}
            <div class="col-lg-6 col-md-6 col-sm-12 member-card" data-position="{{ member.subfaculty }}" data-name="{{ member.name }}" data-research-area="{{ member.bio1 }}" data-coe="{{ member.affiliation }}" data-title = "{{member.position}}">
                <div class="member-info">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ member.image }}" class="member-img" alt="{{ member.name }}" />
                        </div>
                        <div class="col-md-10" style="padding-left: 10px;">
                            <div class="member-details">
                                <h4 id="fac-title">{{ member.name }}</h4>
                                <p class="member-position">{{ member.position }}, {{member.affiliation}}</p>
                            </div>
                            <div class="website">
                                <a href="{{ member.website }}" target="_blank" style="border: 0;">
                                    <p id="website-link"><i class="fa-regular fa-hand-point-right"></i> Personal Website</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="additional-info">
                        <p><strong><i class="fa-solid fa-envelope" style="color: rgb(76, 13, 13);"></i> </strong> {{ member.email }}</p>
                        <p><strong><i class="fa-solid fa-phone" style="color: rgb(76, 13, 13);"></i></strong>  {{ member.phone }}</p>
                        {% if member.bio1 != "" %}
                            <p class="member-bio"><strong>Research Area:</strong> {{ member.bio1 }}</p>
                        {% endif %}
                        
                       
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {

    document.querySelectorAll('.member-img').forEach(img => {
        img.addEventListener('click', function() {
            const memberCard = this.closest('.member-card');
            memberCard.classList.toggle('flip');
        });
    });

    document.querySelectorAll('.filter-indicator').forEach(indicator => {
    indicator.addEventListener('click', () => {
        const filter = indicator.getAttribute('data-filter');
        
        if (indicator.classList.contains('checked')) {
            indicator.classList.remove('checked');
            document.querySelectorAll('.member-card').forEach(member => {
                member.style.display = 'block';
                document.querySelector('.HOD-details').style.display = 'flex';
            });
        } else {
            document.querySelectorAll('.filter-indicator').forEach(ind => ind.classList.remove('checked'));
            indicator.classList.add('checked');
            document.querySelectorAll('.member-card').forEach(member => {
                const category = member.getAttribute('data-position');
                if (filter === 'all' || category === filter) {
                    member.style.display = 'block';
                    document.querySelector('.HOD-details').style.display = 'none';
                } else {
                    member.style.display = 'none';
                    document.querySelector('.HOD-details').style.display = 'none';
                }
            });
        }
    });
    });
});

document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.dropbtn').forEach(button => {
        button.addEventListener('click', function () {
            this.nextElementSibling.classList.toggle('show');
        });
    });

    document.getElementById('search-bar').addEventListener('input', function () {
        const searchTerm = this.value.toLowerCase();
        filterUsingBar(searchTerm);
    });

    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            document.querySelectorAll('.dropdown-content2').forEach(dropdown => {
                dropdown.classList.remove('show');
            });
        }
    }

    document.querySelectorAll('.coe-checkbox input[type="checkbox"]').forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            const selectedFilters = Array.from(document.querySelectorAll('.coe-checkbox input:checked')).map(cb => cb.value.toLowerCase());
            displaySelectedFilters(selectedFilters);
            filterMembers(selectedFilters);
        });
    });

    function displaySelectedFilters() {
          const selectedFiltersContainer = document.querySelector('.selected-filters');
          selectedFiltersContainer.style.display  = 'block';
          selectedFiltersContainer.innerHTML = '';

          const selectedCheckboxes = document.querySelectorAll('.coe-checkbox input:checked');
          selectedCheckboxes.forEach(checkbox => {
            const filterTag = document.createElement('div');
            filterTag.classList.add('filter-tag');
            filterTag.textContent = checkbox.value;
            const removeButton = document.createElement('span');
            removeButton.classList.add('remove-filter');
            removeButton.textContent = '✖';
            removeButton.addEventListener('click', () => {
              checkbox.checked = false;
              filterMembers(Array.from(selectedCheckboxes).map(cb => cb.value.toLowerCase()).filter(value => value !== checkbox.value.toLowerCase()));
              displaySelectedFilters();
            });

            filterTag.appendChild(removeButton);
            selectedFiltersContainer.appendChild(filterTag);
          });
        }

    function filterMembers(filters) {
        document.querySelectorAll('.member-card').forEach(member => {
            const researchArea = member.getAttribute('data-research-area').toLowerCase();
            const coe = member.getAttribute('data-coe').toLowerCase();
            const title = member.getAttribute('data-title').toLowerCase();
            const category = member.getAttribute('data-position').toLowerCase();

            const isVisible = filters.length === 0 || filters.some(filter => {
                return category.includes(filter) || researchArea.includes(filter) || coe.includes(filter) || title === filter;
            }); 

            member.style.display = isVisible ? 'block' : 'none';
        });
        // const displayHOD = filters.length === 0;
        // if (!displayHOD){
        //     document.querySelector('.HOD-details').style.display = 'none';
        // }
        // else{
        //     document.querySelector('.HOD-details').style.display = 'flex';
        // }
    }
    function filterUsingBar(filter) {
        document.querySelectorAll('.member-card').forEach(member => {
            const researchArea = member.getAttribute('data-research-area').toLowerCase();
                if (researchArea.includes(filter)) {
                    member.style.display = 'block';
                } else {
                    member.style.display = 'none';
                }
            
        });
    }
});
</script>
