---
layout: landing
title: Home
permalink: /
---
<!-- Banner -->
<div class="background">
</div>
<div class="rectangular-div"> 
</div>
<div class="indicators-bg">
	<div id="prevBtn" class="indicators-bg-btn"><i class="fa-solid fa-chevron-left"></i></div>
	<div id="nextBtn" class="indicators-bg-btn"><i class="fa-solid fa-chevron-right"></i></div>
</div>

<!-- news and event card section -->
<section id="one" class="wrapper style1 special">
	<div class="row">
		<div class="col-sm-12 col-md-5 eventsContainer">
			<div class="header-row">
				<div class="title">Events</div>
			</div>
			<div id="EcardsContainer" class="Ecards-container">
                {% assign event_data = site.data.events %}
                {% for mem in event_data %}
                  {% if mem.hidden != 1 %}
                  <div class="card Events" id="{{ mem.id }}" style="background-image: url({{ mem.tileBackground }});">
                    <div class="inside">
                      {% if mem.start %}
                        <p>Date: {{ mem.start }}</p>
                      {% endif %}
                      <h1><a href="{{ site.baseurl }}/event/{{ mem.id }}" class="card-link" target="_blank">{{ mem.name }}</a></h1>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
			<div id="eventNavigation">
				<div id="scrollELeftButton" class="navigation-button"><i class="fa-solid fa-chevron-left"></i></div>
				<div id="scrollERightButton" class="navigation-button"><i class="fa-solid fa-chevron-right"></i></div>
			</div>
		</div>
		<!-- <div id="line-container"><div id="line"></div></div> -->
		<div class="col-sm-12 col-md-7 newsContainer">
			<div class="header-row">
				<div class="title">News </div>
			</div>
			<div id="cardsContainer" class="cards-container">
				{% assign news_data = site.data.news | sort: 'date' | reverse  %}
				{% for mem in news_data %}
				  {% if mem.hidden != 1 %}
					<div class="card" id="{{ mem.id }}" style="
					  	{% if mem.preset != '' %}
						  	background-image: url('{{ '/images/' | append: mem.preset | append: '.png' | prepend: site.baseurl }}');
						{% elsif mem.background != '' %}
							background-image: url('{{ mem.background }}');
						{% endif %}
					">
					  <div class="inside">
						{% if mem.date %}
						  <p>Date: {{ mem.date |  date: '%d-%m-%Y' }}</p>
						{% endif %}
						<h1>
						  {% if mem.document != '' %}
							<a href="{{ mem.document }}" target="_blank" class="card-link">{{ mem.title }}</a>
						  {% elsif mem.url != '' %}
							<a href="{{ mem.url }}" target="_blank" class="card-link">{{ mem.title }}</a>
						  {% elsif mem.media != '' %}
							<a href="{{ mem.media }}" target="_blank" class="card-link">{{ mem.title }}</a>
						  {% else %}
							<span class="card-link">{{ mem.title }}</span>
						  {% endif %}
						</h1>
					  </div>
					</div>
				  {% endif %}
				{% endfor %}
			</div>
			<div id="navigation">
				<div id="scrollLeftButton"  class="navigation-button"><i class="fa-solid fa-chevron-left"></i></div>
				<div id="scrollRightButton" class="navigation-button"><i class="fa-solid fa-chevron-right"></i></div>
			</div>
		</div>
	</div>
	<br>
</section>
<script> 
	const Banner = [
		{% for banner in site.data.banners %}
			{ name: "{{ banner.bannerName }}", link: "{{ banner.bannerLink }}" }{% if forloop.last %}{% else %},{% endif %}
		{% endfor %}
	];
</script>
	
<script src="{{ site.baseurl }}/js/pages/script.js"></script>
					