---
layout: page
title: Facilities
des: IITJ Aide School is equipped with state-of-the-art laboratories and facilities to support cutting-edge research and innovation across various disciplines. Here are some of our key labs and facilities.
link: HOME / RESEARCH
permalink: /labs/
---

<br>
<div class="research-intro">
<div class="about-section">
<h1>Our Labs</h1>
<div class="row">
<div class="col-md-8">
<p style="text-align: justify;"><a href="https://iitj.ac.in" target="_blank" style="color: #ff6f61; border: 0;">IIT Jodhpur </a> has established good number of teaching and research laboratories and facilities, which aid in elevating the students from minimalist academic concerns to inquisitive world of scientific arena. These teaching and research laboratories help Faculty Members and Students work for better future by supplementing and improving existing technologies and bodies of knowledge, using competence, creativity and imagination.</p>
</div>
<div class="col-md-4 implinkBox">
<div class="side-content">
  <div class="share">
    <p class="sign-up" style="text-align: center;"><i class="fa-regular fa-hand-point-right"></i> Important Links</p>
    
    {% assign links_data = site.data.links %}
    <ul class="side-news">
      {% for mem in links_data %}
        {% if mem.page == 'lab' %}
          <li><a href="{{ mem.url }}" target="_blank" id="links">{{ mem.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
<br>
</div>
</div>
</div>
</div>
</div>
<section class="res-section">




  <div class="theme-container">
    {% assign labs_data = site.data.labs %}
    {% for member in labs_data %}
    {% if member.hidden == 0 %}
        <div class="theme" data-bg-image="url('{{member.popupBackground}}')">
        <img src="{{member.image}}" alt="{{member.name}}">
        <div class="theme-content">
            <h3 id="h3title">{{member.name}}</h3>
            <div class="hidden">
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="row" id="hidden-content">
                            <h3 id="hidden-title">About</h3>
                            <!-- <p>{{member.info}}</p> -->
                        </div>
                    </div>
  
                    <div class="col-sm-12 col-md-4" id="hidden-content-2">
                      <h3 id="hidden-title">Faculty members</h3>
                      <ul id="bullets">
                      </ul>
                    </div>
                </div>
                <br>
                <div class="row" style="justify-content: center; display: flex;">
                  <a href="#" id="popup-button">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>




</section>
<br>


<div id="popup" class="popup">
    <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <h2 id="popup-title"></h2>
      <div id="popup-div"></div>
       
      <i class="fas fa-chevron-left arrow-left" id="prev-button"></i>
      <i class="fas fa-chevron-right arrow-right" id="next-button"></i>
    </div>
</div>
  



  <style>
    /* page-banner image */
    .background-about{
    background-image: url("{{ site.baseurl }}/images/Labs.png");
    }
    </style>
    
 
<script  src="{{ site.baseurl }}/js/pages/labs.js">
</script>
