---
layout: page
title: Research Themes
des: Our research themes at IITJ Aide School are at the forefront of addressing global challenges and driving innovation in various fields. These themes represent our commitment to pushing the boundaries of knowledge and making a tangible impact on society. 
link: HOME / RESEARCH
permalink: /themes/
---

<style>
  .background-about{
    background-image: url("{{ site.baseurl }}/images/Themes.png");
  }
</style>

<br>
<section class="theme-section">
  <div class="theme-container">
    {% assign themes_data = site.data.themes %}
    {% for member in themes_data %}
    {% if member.hidden == 0 %}
        <div class="theme" data-bg-image="url('{{member.popupBackground}}')">
        <img src="{{member.themeImage}}" alt="{{member.name}}">
        <div class="theme-content">
            <h3 id="h3title">{{member.name}}</h3>
            <div class="hidden">
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="row" id="hidden-content">
                            <h3 id="hidden-title">About</h3>
                            <p>{{member.info}}</p>
                        </div>
                        <div class="row" id="hidden-content-3">
                          <h3 id="hidden-title">Laboratories</h3>
                          {% if member.labs != null %}
                          <ul id="bullets">
                            {% assign lab_data = member.labs | split: ',' %}
                            {% for lab in lab_data %}
                              <li>{{ lab | strip }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </div>
                    </div>
  
                    <div class="col-sm-12 col-md-4" id="hidden-content-2">
                      <h3 id="hidden-title">Faculty members</h3>
                      <ul id="bullets">
                        {% assign theme = member.name %}
                        {% assign theme_key = nil %}
                        
                        {% if theme == "AI and Economics" %}
                          {% assign theme_key = "aIandEconomics" %}
                        {% elsif theme == "AI-driven Healthcare" %}
                          {% assign theme_key = "aIdrivenHealth" %}
                        {% elsif theme == "AI for Technology: Language and Vision" %}
                          {% assign theme_key = "aIforTechnology" %}
                        {% elsif theme == "Behavior, Cognition and Brain" %}
                          {% assign theme_key = "behaviorCognitionBrain" %}
                        {% elsif theme == "Theoretical AI" %}
                          {% assign theme_key = "theoreticalAIML" %}
                        {% elsif theme == "AI and Ethics" %}
                          {% assign theme_key = "aIandEthics" %}
                        {% elsif theme == "Social Engineering" %}
                          {% assign theme_key = "socialEngineering" %}
                        {% elsif theme == "Robotics and Intelligent Machines" %}
                          {% assign theme_key = "roboticsandIntelligentMachines" %}
                        {% elsif theme == "Smart Cities Infrastructure and Environment" %}
                          {% assign theme_key = "smartCitiesInfraEnvironment" %}
                        {% endif %}
                        
                        {% if theme_key %}
                          {% for faculty in site.data.faculty_profiles %}
                            {% if faculty[theme_key] == 'Yes' or faculty[theme_key] == 'Somewhat' %}
                              <li>{{ faculty.name }}</li>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </ul>
                    </div>
                </div>
                <br>
                <div class="row" style="justify-content: center; display: flex;">
                  <a href="#" id="popup-button">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  


<div id="popup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <h2 id="popup-title"></h2>
    <div id="popup-div"></div>
     
    <i class="fas fa-chevron-left arrow-left" id="prev-button"></i>
    <i class="fas fa-chevron-right arrow-right" id="next-button"></i>
  </div>
</div>



<script src="{{ site.baseurl }}/js/pages/themes.js"></script>
