---
layout: people
title: Faculty
link: HOME / PEOPLE
des: la ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit ulla ipsum, et pharetra libero rh.
---

<div class="search-container">
    <input type="text" id="search-bar" placeholder="Search by Research Area ..." disabled>
    <div class="dropdown2">
        <button class="dropbtn">Search by Research Area  <i class="fa-solid fa-caret-down"></i></button>
        <div class="dropdown-content2">
            <a href="#" id="searchByResearchArea">Search by Research Area</a>
            <a href="#" id="searchByCOE">Search by COE</a>
        </div>
    </div>
</div>
<div class="coe-dropdown">
    <div class="coe-checkbox">
        <input type="checkbox" id="coe1" value="Centre for Mathematical and Computational Economics">
        <label for="coe1">Centre for Mathematical and Computational Economics</label>
    </div>
    <div class="coe-checkbox">
        <input type="checkbox" id="coe2" value="Centre for Brain Science and Applications">
        <label for="coe2">Centre for Brain Science and Applications</label>
    </div>
    <div class="coe-checkbox">
        <input type="checkbox" id="coe3" value="Centre for Excellence in Intelligent Infrastructure">
        <label for="coe3">Centre for Excellence in Intelligent Infrastructure</label>
    </div>
    <div class="coe-checkbox">
        <input type="checkbox" id="coe4" value="Centre for Excellence in AI-based Precision Healthcare">
        <label for="coe4">Centre for Excellence in AI-based Precision Healthcare</label>
    </div>
</div>
<div class="filter-indicators">
    <div class="filter-indicator"  data-filter="Core Faculty">
        <div class="checkbox"></div>
        <span>Core Faculty</span>
    </div>
    <div class="filter-indicator" data-filter="Affiliated Faculty">
        <div class="checkbox"></div>
        <span>Affiliate Faculty</span>
    </div>
    <div class="filter-indicator" data-filter="Adjunct Faculty">
        <div class="checkbox"></div>
        <span>Adjunct Faculty</span>
    </div>
    <div class="filter-indicator"  data-filter="Professor of Practice">
        <div class="checkbox"></div>
        <span>Professor in Practice</span>
    </div>
</div>

<br><br>

<div class="row" id="teamMembers">
    {% assign sorted_members = site.data.team | sort: "year" %}
    {% for member in sorted_members %}
        {% if member.display == 1 and member.faculty == 1 %}
            <div class="col-lg-6 col-md-6 col-sm-12 member-card" data-position="{{ member.subfaculty }}" data-name="{{ member.name }}" data-research-area="{{ member.bio1 }}" data-coe="{{ member.affiliation }}">
                <div class="member-info">
                 

                    <div class="member-details">
                        <h4>{{ member.name }}</h4>
                        <p class="member-position">{{ member.position }}</p>
           
                        <p><strong>Email:</strong> {{ member.email }}</p>
                        <p><strong>Phone:</strong> {{ member.phone }}</p>
                        <p><strong>Department:</strong> {{ member.affiliation }}</p>

                        {% if member.bio1 != "" %}
                            <p class="member-bio"><strong>Research Area:</strong> {{ member.bio1 }}</p>
                        {% endif %}
                    </div>
                    <img src="{{ member.image }}" class="member-img" alt="{{ member.name }}" />
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.filter-indicator').forEach(indicator => {
        indicator.addEventListener('click', () => {
            indicator.classList.toggle('checked');

            const activeFilters = [];
            document.querySelectorAll('.filter-indicator.checked').forEach(ind => {
                activeFilters.push(ind.getAttribute('data-filter'));
            });

            document.querySelectorAll('.member-card').forEach(member => {
                const category = member.getAttribute('data-position');
                const filtersToApply = activeFilters.length > 0 ? activeFilters : ['all'];

                if (filtersToApply.includes('all') || filtersToApply.includes(category)) {
                    member.style.display = 'block';
                } else {
                    member.style.display = 'none';
                }
            });
        });
    });
});

document.addEventListener('DOMContentLoaded', function () {
    let searchBy = 'researchArea'; // Default search mode

    // Function to toggle search by name or research area or COE
    function toggleSearchBy(option) {
        if (option === 'researchArea') {
            document.getElementById('search-bar').placeholder = 'Search by Research Area ...';
            document.getElementById('search-bar').style.display = 'block';
            document.getElementById('search-bar').disabled = false;
            document.querySelector('.coe-dropdown').style.display = 'none';
        } else if (option === 'COE') {
            document.getElementById('search-bar').disabled = true;
            document.getElementById('search-bar').placeholder = 'Search by COE ...';
            document.getElementById('search-bar').style.display = 'block';
            document.querySelector('.coe-dropdown').style.display = 'block';
        }
        searchBy = option;
    }

    // Toggle dropdown display for research area or COE
    document.querySelector('.dropbtn').addEventListener('click', function () {
        document.querySelector('.dropdown-content').classList.toggle('show');
    });

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName('dropdown-content2');
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    // Event listener for COE checkbox change
    document.querySelectorAll('.coe-checkbox input').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const selectedCOEs = Array.from(document.querySelectorAll('.coe-checkbox input:checked')).map(checkbox => checkbox.value.toLowerCase());
            filterMembers(selectedCOEs);
        });
    });

    document.getElementById('searchByCOE').addEventListener('click', function (e) {
        e.preventDefault();
        toggleSearchBy('COE');
        var button = document.querySelector(".dropbtn");
        var newText = "Search by COE";
        button.childNodes[0].textContent = newText + " ";
        document.querySelector('.dropdown-content2').classList.remove('show');
    });

    document.getElementById('searchByResearchArea').addEventListener('click', function (e) {
        e.preventDefault();
        toggleSearchBy('researchArea');
        var button = document.querySelector(".dropbtn");
        var newText = "Search by Research Area";
        button.childNodes[0].textContent = newText + " ";
        document.querySelector('.dropdown-content2').classList.remove('show');
    });

    // Input event listener for search bar
    document.getElementById('search-bar').addEventListener('input', function () {
        const searchTerm = this.value.toLowerCase();
        filterMembers(searchTerm);
    });

    // Function to filter members based on search term or COE selection
    function filterMembers(filter) {
        document.querySelectorAll('.member-card').forEach(member => {
            const name = member.getAttribute('data-name').toLowerCase();
            const researchArea = member.getAttribute('data-research-area').toLowerCase();
            const coe = member.getAttribute('data-coe').toLowerCase(); // Adjust this based on your data structure

            if (searchBy === 'COE') {
                const memberCOEs = coe.split(',').map(item => item.trim());
                if (filter.some(f => memberCOEs.includes(f))) {
                    member.style.display = 'block';
                } else {
                    member.style.display = 'none';
                }
            } else if (searchBy === 'researchArea') {
                if (researchArea.includes(filter)) {
                    member.style.display = 'block';
                } else {
                    member.style.display = 'none';
                }
            }
        });
    }
});
</script>
