---
layout: people
title: Faculty
link: HOME / PEOPLE
des: la ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit ulla ipsum, et pharetra libero rh.
---

<div class="search-container">
    <i class="fa-solid fa-magnifying-glass fa-xl" style="color: brown;"></i>
    <input type="text" id="search-bar" placeholder="Search by name ...">
</div>
<div class="filter-indicators">
    <div class="filter-indicator" id="all" data-filter="Core Faculty">
        <div class="checkbox"></div>
        <span>Core Faculty</span>
    </div>
    <div class="filter-indicator" id="phd" data-filter="Affiliated Faculty">
        <div class="checkbox"></div>
        <span>Affiliate Faculty</span>
    </div>
    <div class="filter-indicator" id="ms" data-filter="Adjunct Faculty">
        <div class="checkbox"></div>
        <span>Adjunct Faculty</span>
    </div>
    <div class="filter-indicator" id="category1" data-filter="pp">
        <div class="checkbox"></div>
        <span>Professor in Practice</span>
    </div>
</div>

<br><br>

<div class="row" id="teamMembers">
    {% assign sorted_members = site.data.team | sort: "year" %}
    {% for member in sorted_members %}
    {% if member.display == 1 and member.faculity == '1' %}
    <div class="col-sm-6 member-card" data-position="{{ member.subfaculty }}" data-name="{{ member.name }}">
        <img src="{{ member.image }}" class="img-responsive" width="35%" style="float: left" />
        <h4>{{ member.name }}</h4>
        <i>{{ member.position }}, {{ member.affiliation }} <br>email: {{ member.email }}</i>
        <ul style="overflow: hidden">
            {% if member.bio1 != "" %}
            <li>{{ member.bio1 }}</li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>
<script>
document.querySelectorAll('.filter-indicator').forEach(indicator => {
    indicator.addEventListener('click', () => {
        const filter = indicator.getAttribute('data-filter');
        
        if (indicator.classList.contains('checked')) {
            indicator.classList.remove('checked');
            document.querySelectorAll('.member-card').forEach(member => {
                member.style.display = 'block';
            });
        } else {
            document.querySelectorAll('.filter-indicator').forEach(ind => ind.classList.remove('checked'));
            indicator.classList.add('checked');
            document.querySelectorAll('.member-card').forEach(member => {
                const category = member.getAttribute('data-position');
                if (filter === 'all' || category === filter) {
                    member.style.display = 'block';
                } else {
                    member.style.display = 'none';
                }
            });
        }
    });
});

document.getElementById('search-bar').addEventListener('input', () => {
    const searchTerm = document.getElementById('search-bar').value.toLowerCase();
    document.querySelectorAll('.member-card').forEach(member => {
        const name = member.getAttribute('data-name').toLowerCase();
        if (name.includes(searchTerm)) {
            member.style.display = 'block';
        } else {
            member.style.display = 'none';
        }
    });
});
</script>
