---
layout: people
title: Staff
link: HOME / PEOPLE
des: la ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit ulla ipsum, et pharetra libero rh.
---
	
<div class="search-container">
	<i class="fa-solid fa-magnifying-glass fa-xl" style="color: #17877a;"></i><input type="text" id="search-bar" placeholder="Search by name ...">
</div>
<div class="filter-indicators">
    <div class="filter-indicator" id="all" data-filter="all">
        <div class="checkbox"></div>
        <span>Scientific</span>
    </div>
    <div class="filter-indicator" id="phd" data-filter="phd">
        <div class="checkbox"></div>
        <span>Technical</span>
    </div>
    <div class="filter-indicator" id="ms" data-filter="ms">
        <div class="checkbox"></div>
        <span>Administrative</span>
    </div>
    <div class="filter-indicator" id="ms" data-filter="ms">
      <div class="checkbox"></div>
      <span>All</span>
  </div>
</div>


<div class="row" id="teamMembers">
    {% assign sorted_members = site.data.team | sort: "year" %}
    {% for member in sorted_members %}
    {% if member.display == 1 and member.staff == '1' %}
    <div class="col-sm-6 member-card" data-position="{{ member.subfaculty }}" data-name="{{ member.name }}" data-research-area="{{member.bio1}}">
        <img src="{{ member.image }}" id="circular-image" style="float: left" />

        <h4>{{ member.name }}</h4>
 
        <i>{{ member.position }}, <br>Department: {{ member.affiliation }} <br>Email: {{ member.email }} <br>Phone: {{member.phone}}  </i>
  
        <ul style="overflow: hidden">
            {% if member.bio1 != "" %}
            <li>{{ member.bio1 }}</li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>

<script>
	document.querySelectorAll('.filter-indicator').forEach(indicator => {
    indicator.addEventListener('click', () => {
        indicator.classList.toggle('checked');
    });
});
</script>