---
layout: people
title: Staff
link: HOME / PEOPLE
des: la ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit ulla ipsum, et pharetra libero rh.
---
	
<!-- <div class="search-container">
	<i class="fa-solid fa-magnifying-glass fa-xl" style="color: #17877a;"></i><input type="text" id="search-bar" placeholder="Search by name ...">
</div> -->
<div class="filter-indicators" style="margin-left: 15%;">
    <div class="filter-indicator"  data-filter="Scientific Staff">
        <div class="checkbox"></div>
        <span>Scientific</span>
    </div>
    <div class="filter-indicator"  data-filter="Technical Staff">
        <div class="checkbox"></div>
        <span>Technical</span>
    </div>
    <div class="filter-indicator"  data-filter="Administrative Staff">
        <div class="checkbox"></div>
        <span>Administrative</span>
    </div>
</div>

<br>
<br>
<div class="row" id="teamMembers">
    {% assign sorted_members = site.data.team | sort: "year" %}
    {% for member in sorted_members %}
    {% if member.display == 1 and member.staff == 1 %}
    <div class="col-sm-6 member-card" data-position="{{ member.subfaculty }}" data-name="{{ member.name }}">
        <img src="{{ member.image }}" id="circular-image" style="float: left" />

        <h4>{{ member.name }}</h4>
 
        <i>{{ member.position }}, <br>Department: {{ member.affiliation }} <br>Email: {{ member.email }} <br>Phone: {{member.phone}}  </i>
  
        <ul style="overflow: hidden">
            {% if member.bio1 != "" %}
            <li>{{ member.bio1 }}</li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.filter-indicator').forEach(indicator => {
        indicator.addEventListener('click', () => {
            indicator.classList.toggle('checked');

            const activeFilters = [];
            document.querySelectorAll('.filter-indicator.checked').forEach(ind => {
                activeFilters.push(ind.getAttribute('data-filter'));
            });

            document.querySelectorAll('.member-card').forEach(member => {
                const category = member.getAttribute('data-position');
                const filtersToApply = activeFilters.length > 0 ? activeFilters : ['all'];

                if (filtersToApply.includes('all') || filtersToApply.includes(category)) {
                    member.style.display = 'block';
                } else {
                    member.style.display = 'none';
                }
            });
        });
    });
});
</script>