---
layout: people
title: Students
link: HOME / PEOPLE
des: la ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit ulla ipsum, et pharetra libero rh.
---
	

<div class="search-container">
    <input type="text" id="search-bar" placeholder="Search by name ...">
    <div class="dropdown2">
        <button class="dropbtn">Search by Name  <i class="fa-solid fa-caret-down"></i></button>
        <div class="dropdown-content2">
            <a href="#" id="searchByName">Search by Name </a>
            <a href="#" id="searchByfaculty">Search by Supervisor(s)</a>
        </div>
    </div>
</div>
<br><br>

<div class="row" id="teamMembers">
    {% assign sorted_members = site.data.team | sort: "year" %}
    {% for member in sorted_members %}
    {% if member.display == 1 and member.student == '1' %}
    <div class="col-sm-6 member-card" data-position="{{ member.subfaculty }}" data-name="{{ member.name }}" data-research-fac="{{member.faculties}}">
        <img src="{{ member.image }}" id="circular-image" style="float: left" />

        <h4>{{ member.name }}</h4>
 
        <i>Enrolled: {{ member.enrolled }}, <br>Department: {{ member.affiliation }} <br>Email: {{ member.email }} <br>Supervisor(s): {{member.faculties}}  </i>
  
        <ul style="overflow: hidden">
           
            <li>Reserach Area: {{ member.researchArea }}</li>
			<li>Education: {{ member.education }}</li>
       
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</div>
<script>

document.addEventListener('DOMContentLoaded', function () {
    // Initial search behavior (search by name)
    let searchBy = 'name';

    // Function to toggle search by name or research area
    function toggleSearchBy(option) {
        if (option === 'name') {
            document.getElementById('search-bar').placeholder = 'Search by name ...';
        } else if (option === 'faculties') {
            document.getElementById('search-bar').placeholder = 'Search by supervisor(s) ...';
        }
        searchBy = option;
    }

    // Toggle dropdown display
    document.querySelector('.dropbtn').addEventListener('click', function () {
        document.querySelector('.dropdown-content').classList.toggle('show');
    });

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName('dropdown-content');
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    // Search functionality based on selected option
    document.getElementById('searchByName').addEventListener('click', function (e) {
        e.preventDefault();
        toggleSearchBy('name');
        var button = document.querySelector(".dropbtn");
        var newText = "Search by Name"; 
        button.childNodes[0].textContent = newText + " ";
        document.querySelector('.dropdown-content').classList.remove('show');
    });

    document.getElementById('searchByfaculty').addEventListener('click', function (e) {
        e.preventDefault();
        toggleSearchBy('faculties');
        var button = document.querySelector(".dropbtn");
        var newText = "Search by Superviosr(s)"; 
        button.childNodes[0].textContent = newText + " ";
        document.querySelector('.dropdown-content').classList.remove('show');
    });

    // Input event listener for search bar
    document.getElementById('search-bar').addEventListener('input', function () {
        const searchTerm = this.value.toLowerCase();
        document.querySelectorAll('.member-card').forEach(member => {
            const name = member.getAttribute('data-name').toLowerCase();
            const researchArea = member.getAttribute('data-research-fac').toLowerCase(); // Adjust this based on your data structure

            if ((searchBy === 'name' && name.includes(searchTerm)) ||
                (searchBy === 'faculties' && researchArea.includes(searchTerm))) {
                member.style.display = 'block';
            } else {
                member.style.display = 'none';
            }
        });
    });
});
</script>

