{::nomarkdown}
<div class="general-section">
 <div class="row">
   <div class="col-md-8">
{:/nomarkdown}
      {{ content-col }}
{::nomarkdown}
   </div>
   <div class="col-md-4 implinkBox">
      <div class="side-content">
         <div class="share">
            <p class="sign-up" style="text-align: center;"><i class="fa-regular fa-hand-point-right"></i> Important Links</p>
{:/nomarkdown}
            {{ content-links }}
{::nomarkdown}
         </div>
      </div>
   </div>
 </div>
{:/nomarkdown}
{{ content-bottom }}
{::nomarkdown}
</div>
{:/nomarkdown}
