
<footer id="footer">
    <br>
      <div class="row">
          <!-- Social Icons Section -->
          <div class="col-xs-12 col-md-4">
              <h3><i class="fa-solid fa-user-plus fa-2x" style="color: #800F13;"></i> Follow Us</h3>
              <ul class="list-unstyled list-inline social-icons" style="padding-bottom: 20px;">
                  <li class="list-inline-item">
                      <a href="https://www.facebook.com/saide.iitj/" class="fa-stack fa-xl" style="border: 0;" target="_blank">
                        <i class="fa-brands fa-facebook fa-lg" style="color: #1a548b;" ></i>                
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://x.com/saide_iitj" class="fa-stack fa-xl" style="border: 0;" target="_blank">
                        <i class="fa-brands fa-twitter fa-lg" style="color: #74C0FC;"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.linkedin.com/company/aide-iitj" class="fa-stack fa-xl"  style="border: 0;" target="_blank">
                              <i class="fa-brands fa-linkedin fa-lg" style="color: #2d85d7;"></i>
                      </a>
                  </li>
              </ul>
          </div>

          <!-- Address Section -->
          <div class="col-xs-12 col-md-4" style="padding-bottom: 20px;">
              <h3><i class="fa-solid fa-location-dot fa-2x" style="color: #800F13;"></i> Address</h3>
              <p>School of Artificial Intelligence and Data Science <br>
              Indian Institute of Technology Jodhpur<br>
              NH 62 Nagaur Road, Karwar 342030, Rajasthan
              </p>
          </div>
          <!-- Contact Us Section -->
          <div class="col-xs-12 col-md-4">
              <h3><i class="fa-solid fa-address-book fa-2x" style="color: #800F13;"></i> Contact Us</h3>
              <p>Phone: (0291) 280 1752<br>
              Email: office_saide@iitj.ac.in</p>
          </div>
        </ul>
      </div>


  <!-- Copyright Information Section -->
  <br>
      <div class="row">
          <div class="col-md-12" style="padding-bottom: 20px;">
  
              <ul class="copyright" style="font-weight: 600;">
                 
                      <li>Developed by: <a href="https://www.linkedin.com/in/satvik-wazir-pandita-008778253" target="_blank" id="footer-links"> Satvik Wazir</a>, <a href="https://www.linkedin.com/in/iva-agarwal/" target="_blank" id="footer-links">Iva Agarwal</a>,  <a href="https://www.linkedin.com/in/karan-raj-b5823822a/" target="_blank" id="footer-links">Karan Raj</a></li>
                      <li>Mentored by: <a href="http://home.iitj.ac.in/~bikash/" target="_blank"  id="footer-links"> Bikash Santra</a>, <a href="https://csndl-iitd.github.io/cndl-website/" target="_blank"  id="footer-links">Saurabh Gandhi</a></li>
                 
              </ul>
          </div>
      </div>

      <div class="footer-highlight">
        <ul  class="copyright" >
        <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
            {% if site.first_published %}
            {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
            {% if diff contains '-' %}{{ site.first_published }},{% endif %}
            {% endif %}
            {{ thisyear }}
            {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
            <li>Built with: <a href="http://jekyllrb.com" target="_blank">Jekyll</a></li>
        </ul>
      </div>
</footer>
