<div id="brown-highlight">
</div>
<header>

  <div class="container" >
    <div class="row navbar-container" style="	margin-top: -12px;">
      <div class="col-md-3 col-9" style="padding-left: 50px; margin-bottom: 15px;">
            <a href="{{ site.baseurl }}/index.html" id="links"><h1 id="site-title">IIT JODHPUR<br> <p id = "site-main-title">School of Artificial Intelligence<br> <p id = "site-main-title2">& Data Science</p> </h1></a>
      </div>
      <div class="col-md-8" style=" text-transform: none; justify-content: center; text-align: center; 	margin-right: 20px;">
        <nav id="nav">
          <div class="nav-content" id="nav-content">
            <ul class="horizontal-menu">
              <li class="dropdown">
                <a href="index.html" id="dropbtn">Home</a>
              </li>

              <li class="dropdown">
                <a href="phd.html" class="bg-buttons"id="dropbtn">Academics</a>
                <div class="dropdown-content">
                  <a href="phd.html" class="bg-buttons">PhD</a>
                  <a href="ms.html" class="bg-buttons">MS by Research</a>
                  <a href="mtech.html" class="bg-buttons">MTech</a>
                  <a href="btech.html" class="bg-buttons">BTech Minor</a>
                  <a href="continuing_edu.html" class="bg-buttons">Continuing Education</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="reserach.html" id="dropbtn" class="bg-buttons">Research</a>
                <div class="dropdown-content">
                  <a href="theme.html"  class="bg-buttons">Themes</a>
                  <a href="projects.html"  class="bg-buttons" >Projects</a>
                  <a href="papers.html"  class="bg-buttons">Publications</a>
                  <a href="labs.html"  class="bg-buttons" >Facilities & Labs</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="coes.html" id="dropbtn" class="bg-buttons">CoEs</a>
                <div class="dropdown-content">
                  <a href="https://cbsaiitj.wordpress.com/"  target="_blank">Brain Science and Applications</a>
                  <a href="https://cmceiitj.wordpress.com/"  target="_blank">Mathematical and Computational Economics</a>
                  <a href="https://sites.google.com/iitj.ac.in/cii/about"  target="_blank">Center of Excellence in Intelligent Infrastructure</a>
                  <a href="#">Center of Excellence in AI based Precision Healthcare</a>
                </div>
              </li>

             
              <li class="dropdown">
                <a href="faculity.html" id="dropbtn" class="bg-buttons">People</a>
                <div class="dropdown-content">
                  <a href="faculity.html" class="bg-buttons">Faculty</a>
                  <a href="students.html" class="bg-buttons">Students</a>
                  <a href="alumini.html" class="bg-buttons">Alumini</a>
                  <a href="staff.html" class="bg-buttons">Staff</a>
                  <a href="directory.html" class="bg-buttons">Directory</a>
                </div>
              </li>

              <li class="dropdown">
                <a href="admissions.html" id="dropbtn"  class="bg-buttons">Join-Us</a>
                <div class="dropdown-content">
                  <a href="admissions.html"  class="bg-buttons">Admissions</a>
                  <a href="projectsPositions.html"  class="bg-buttons">Project Positions</a>
                  <a href="intern.html" class="bg-buttons">Internships</a>
                  <a href="faculty_joinus.html"  class="bg-buttons">Faculty Positions</a>
                </div>
              </li>

             
              <li class="dropdown">
                <a href="about.html" id="dropbtn" class="bg-buttons">About</a>
                <div class="dropdown-content">
                  <a href="about.html" class="bg-buttons">Mission & Vision</a>
                  <a href="aidsEcosystem.html" class="bg-buttons">AI & DS Ecosystem</a>
                  <a href="outreach.html" class="bg-buttons">Outreach</a>
                  <a href="governance.html" class="bg-buttons">Governance</a>
                  <a href="campus.html" class="bg-buttons">Campus</a>
                  <a href="faq.html" class="bg-buttons">FAQs</a>
                  <a href="contact.html" class="bg-buttons">Contact</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-1" style="display: flex; justify-content: center; align-items: center; margin-top: 10px; ">
        <div class="menu-toggle" id="menu-toggle"><i class="fa-solid fa-bars"></i></div>
        <div class="menu-close" id="menu-close"><i class="fa-solid fa-times"></i></div>
        <a href="{{ site.baseurl }}/index.html" class="site-sym">
          <img src="images/iitjc.png" alt="New Logo" class="logo" width="80" height="60">
          <img src="images/logo_bg.png" alt="Logo Background" class="logo-bg" width="120" height="60">
        </a>
      </div>
    </div>
  </div>
</header>

<script >
document.addEventListener("DOMContentLoaded", () => {
  const menuToggle = document.getElementById('menu-toggle');
  const menuClose = document.getElementById('menu-close');
  const navbar = document.getElementById('nav-content');


  function openMenu() {
    menuToggle.style.display = 'none';
    menuClose.style.display = 'flex';
    navbar.style.right = '0'; // Slide the nav-content into view
  }

  function closeMenu() {
    menuToggle.style.display = 'flex';
    menuClose.style.display = 'none';
    navbar.style.right = '-100%'; // Slide the nav-content out of view
  }

  menuToggle.addEventListener('click', openMenu);
  menuClose.addEventListener('click', closeMenu);
   });
 
</script>