<div id="brown-highlight">

</div>
<header>

  <div class="container navbar-container navbar-no-bg" >
    <div class="row" style="display: flex; justify-content: center; align-items: center;">
      <div class="col-md-3" style="padding-left: 50px;">
            <a href="{{ site.baseurl }}/index.html" id="links"><h1 id="site-title">IIT JODHPUR</h1></a>
      </div>
      <div class="col-md-7" style=" text-transform: none; justify-content: center; text-align: center;">
        <nav id="nav">
          <div class="nav-content" id="nav-content">
            <ul class="horizontal-menu">
              <li class="dropdown">
                <a href="index.html" id="dropbtn">Home</a>
              </li>

              <li class="dropdown">
                <a href="learn.html" class="bg-buttons" data-image="1.png" id="dropbtn"><div   >Academics</div></a>
                <div class="dropdown-content">
                  <a href="phd.html" class="bg-buttons" data-image="3.png"><div    >PhD</div></a>
                  <a href="ms.html" class="bg-buttons"  data-image="2.png"><div  >MS by Research</div></a>
                  <a href="mtech.html" class="bg-buttons" data-image="4.png"><div   >MTech</div></a>
                  <a href="btech.html" class="bg-buttons"  data-image="5.png"><div  >BTech Minor</div></a>
                </div>
              </li>
              <li class="dropdown">
                <a href="reserach.html" id="dropbtn" class="bg-buttons" data-image="6.png">Research</a>
                <div class="dropdown-content">
                  <a href="theme.html"  class="bg-buttons"  data-image="7.png">Theme</a>
                  <a href="projects.html"  class="bg-buttons" data-image="8.png">Projects</a>
                  <a href="papers.html"  class="bg-buttons" data-image="9.png">Publications</a>
                  <a href="labs.html"  class="bg-buttons" data-image="10.png">Facilities & Labs</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="coes.html" id="dropbtn">CoEs</a>
                <div class="dropdown-content">
                  <a href="https://cbsaiitj.wordpress.com/">Brain Science and Applications</a>
                  <a href="https://cmceiitj.wordpress.com/">Mathematical and Computational Economics</a>
                  <a href="https://sites.google.com/iitj.ac.in/cii/about">Center of Excellence in Intelligent Infrastructure</a>
                  <a href="#">Center of Excellence in AI based Precision Healthcare</a>
                </div>
              </li>

             
              <li class="dropdown">
                <a href="faculity.html" id="dropbtn">People</a>
                <div class="dropdown-content">
                  <a href="staff.html">Staff</a>
                  <a href="students.html">Students</a>
                  <a href="alumini.html">Alumini</a>
                  <a href="directory.html">Directory</a>
                </div>
              </li>

              <li class="dropdown">
                <a href="admissions.html" id="dropbtn">Join-Us</a>
                <div class="dropdown-content">
                  <a href="admissions.html">Admissions</a>
                  <a href="projectsPositions.html">Project Positions</a>
                  <a href="intern.html">Internships</a>
                  <a href="faculty_joinus.html">Faculty</a>
                </div>
              </li>

             
              <li class="dropdown">
                <a href="about.html" id="dropbtn">About</a>
                <div class="dropdown-content">
                  <a href="about.html">Mission & Vision</a>
                  <!-- <a href="engage.html">Engage</a> -->
                  <a href="outreach.html">Outreach</a>
                  <a href="governance.html">Governance</a>
                  <a href="campus.html">Campus</a>
                  <a href="faq.html">FAQs</a>
                  <!-- <a href="jobs.html">Jobs</a> -->
                  <a href="contact.html">Contact</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-2" style="display: flex; justify-content: center; align-items: center; margin-top: 10px; padding-left: 95px;">
        <button class="menu-toggle" id="menu-toggle"><i class="fa-solid fa-bars"></i></button>
        <a href="{{ site.baseurl }}/index.html" class="site-sym">
          <img src="images/logo_bg.png" alt="Logo" width="180" height="150">
        </a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-7 col-sm-8" >
      </div>
    </div> -->
  </div>
</header>

<script >

document.addEventListener("DOMContentLoaded", () => {

    const buttons = document.querySelectorAll('.bg-buttons');
    const backgroundAbout = document.getElementById('backgroundAbout');
    console.log(backgroundAbout);

    // Check if there's a stored image URL
    // const storedImage = localStorage.getItem('selectedImage');
    // if (storedImage) {
    //   backgroundAbout.style.backgroundImage = `url(images/${storedImage})`;
    // }

    buttons.forEach(button => {
      button.addEventListener('click', function(e) {
        // e.preventDefault();

        const imageName = this.getAttribute('data-image');
        console.log(imageName);
        backgroundAbout.style.backgroundImage = `url(images/${imageName})`;

        // Store the selected image URL
        // localStorage.setItem('selectedImage', imageName);

      });
    });
  });
 
</script>