<div id="brown-highlight">
</div>
<header>

  <div class="container" >
    <div class="row navbar-container" style=" margin-top: -12px;">
      <div class="col-md-3 col-9" style=" margin-bottom: 25px;">
            <a href="{{ site.baseurl }}/index.html" id="links">  <h1 id = "site-main-title">School of Artificial Intelligence<br> and Data Science</h1> <h1 id="site-title">IIT JODHPUR</h1>
            </a>
      </div>
      <div class="col-md-8" style=" text-transform: none; justify-content: center; text-align: center;  margin-right: 20px;">
        <nav id="nav">
          <div class="nav-content" id="nav-content">
            <ul class="horizontal-menu">
              <li class="dropdown">
                <a href="{{ site.baseurl }}/" id="dropbtn">Home</a>
              </li>

              <li class="dropdown">
                <a href="{{ site.baseurl }}/phd/" class="bg-buttons"id="dropbtn">Academics <span class="toggle-icon">+</span></a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/phd/" class="bg-buttons">PhD</a>
                  <a href="{{ site.baseurl }}/ms/" class="bg-buttons">MS by Research</a>
                  <a href="{{ site.baseurl }}/mtech/" class="bg-buttons">MTech</a>
                  <a href="{{ site.baseurl }}/btech/" class="bg-buttons">BTech Minor</a>
                  <a href="{{ site.baseurl }}/continuing_edu/" class="bg-buttons">Professional Programs</a>
                  <a href="{{ site.baseurl }}/elective/" class="bg-buttons">Elective Courses List</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="{{ site.baseurl }}/research/" id="dropbtn" class="bg-buttons">Research <span class="toggle-icon">+</span></a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/themes/"  class="bg-buttons">Themes</a>
                  <a href="{{ site.baseurl }}/projects/"  class="bg-buttons" >Projects</a>
                  <a href="{{ site.baseurl }}/publications/"  class="bg-buttons">Publications</a>
                  <a href="{{ site.baseurl }}/labs/"  class="bg-buttons" >Facilities & Labs</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="{{ site.baseurl }}/coe/" id="dropbtn" class="bg-buttons">CoEs  <span class="toggle-icon">+</span></a>
                <div class="dropdown-content">
                  <a href="https://cbsaiitj.wordpress.com/"  target="_blank">Brain Science and Applications </a>
                  <a href="https://cmceiitj.wordpress.com/"  target="_blank">Mathematical and Computational Economics</a>
                  <a href="https://sites.google.com/iitj.ac.in/cii/about"  target="_blank">Center of Excellence in Intelligent Infrastructure</a>
                  <a href="#">Center of Excellence in AI based Precision Healthcare</a>
                </div>
              </li>

             
              <li class="dropdown">
                <a href="{{ site.baseurl }}/faculty/" id="dropbtn" class="bg-buttons">People <span class="toggle-icon">+</span></a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/faculty/" class="bg-buttons">Faculty</a>
                  <a href="{{ site.baseurl }}/students/" class="bg-buttons">Students</a>
                  <a href="{{ site.baseurl }}/alumini/" class="bg-buttons">Alumini</a>
                  <a href="{{ site.baseurl }}/staff/" class="bg-buttons">Staff</a>
                  <a href="{{ site.baseurl }}/directory/" class="bg-buttons">Directory</a>
                </div>
              </li>

              <li class="dropdown">
                <a href="{{ site.baseurl }}/admissions/" id="dropbtn"  class="bg-buttons">Join-Us <span class="toggle-icon">+</span></a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/admissions/"  class="bg-buttons">Admissions</a>
                  <a href="{{ site.baseurl }}/projectsPositions/"  class="bg-buttons">Project Positions</a>
                  <a href="{{ site.baseurl }}/postdocPositions/"  class="bg-buttons">Postdoc Positions</a>
                  <a href="{{ site.baseurl }}/intern/" class="bg-buttons">Internships</a>
                  <a href="{{ site.baseurl }}/faculty_joinUS/"  class="bg-buttons">Faculty Positions</a>
                </div>
              </li>

             
              <li class="dropdown">
                <a href="{{ site.baseurl }}/about/" id="dropbtn" class="bg-buttons">About <span class="toggle-icon">+</span></a>
                <div class="dropdown-content">
                  <a href="{{ site.baseurl }}/about/" class="bg-buttons">Mission & Vision</a>
                  <a href="{{ site.baseurl }}/aidsEcosystem/" class="bg-buttons">AI & DS Ecosystem</a>
                  <a href="{{ site.baseurl }}/outreach/" class="bg-buttons">Outreach</a>
                  <a href="{{ site.baseurl }}/governance/" class="bg-buttons">Administration</a>
                  <a href="{{ site.baseurl }}/campus/" class="bg-buttons">Campus</a>
                  <a href="{{ site.baseurl }}/faq/" class="bg-buttons">FAQs</a>
                  <a href="{{ site.baseurl }}/contact/" class="bg-buttons">Contact</a>
                </div>
              </li>
            </ul> 
            <div class="mobile-logo">
              <img src="{{ site.baseurl }}/images/Logo_IITJ.png" alt="New Logo"  width="60" height="auto">
              <img src="{{ site.baseurl }}/images/saide_logo.png" alt="Logo Background"  width="60" height="auto">
            </div>
          </div>
        </nav>
      </div>
      <div class="col-md-1" style="display: flex; justify-content: center; align-items: center; margin-top: 10px; ">
        <div class="menu-toggle" id="menu-toggle"><i class="fa-solid fa-bars"></i></div>
        <div class="menu-close" id="menu-close"><i class="fa-solid fa-times"></i></div>
        <a href="{{ site.baseurl }}/index.html" class="site-sym">
          <img src="{{ site.baseurl }}/images/Logo_IITJ.png" alt="New Logo" class="logo" width="60" height="auto">
          <img src="{{ site.baseurl }}/images/saide_logo.png" alt="Logo Background" class="logo-bg" width="60" height="auto">
        </a>
      </div>
    </div>
  </div>
</header>


<script src="{{ site.baseurl }}/js/pages/header.js">
</script>