---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main">
  <div class="topcontent">
    <header style="height: 148px; margin-top: 70px;">
    </header>
    <div class="button-bar">
      <a href="about.html" class="tab-button" data-image="Mission.png">Mission & Vision</a>
      <a href="aidsEcosystem.html" class="tab-button" data-image="Ecosystem.png">AI & DS Ecosystem</a>
      <a href="outreach.html" class="tab-button" data-image="Outreach.png">Outreach</a>
      <a href="governance.html" class="tab-button" data-image="Governance.png">Governance</a>
      <a href="campus.html" class="tab-button" data-image="Campus.png">Campus</a>
      <a href="faq.html" class="tab-button" data-image="FAQs.png">FAQ</a>
      <a href="contact.html" class="tab-button" data-image="Contact.png">Contact</a>
      
    </div>
  </div>

  <section class="wrapper style5" style="z-index: -1;">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>

<script>

  document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll('.tab-button');
    const backgroundAbout = document.getElementById('backgroundAbout');

    // Check if there's a stored image URL
    const storedImage = localStorage.getItem('selectedImage');
    if (storedImage) {
      backgroundAbout.style.backgroundImage = `url(images/${storedImage})`;
    }

    buttons.forEach(button => {
      button.addEventListener('click', function(e) {
        // e.preventDefault();
        const imageName = this.getAttribute('data-image');
        backgroundAbout.style.backgroundImage = `url(images/${imageName})`;

        // Store the selected image URL
        localStorage.setItem('selectedImage', imageName);
      });
    });
  });

</script>
