---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main">
 
    <div class="button-bar">
      <a href="{{ site.baseurl }}/about/" class="tab-button">Mission & Vision</a>
      <a href="{{ site.baseurl }}/aidsEcosystem/" class="tab-button">AI & DS Ecosystem</a>
      <a href="{{ site.baseurl }}/outreach/" class="tab-button">Outreach</a>
      <a href="{{ site.baseurl }}/governance/" class="tab-button">Administration</a>
      <a href="{{ site.baseurl }}/campus/" class="tab-button">Campus</a>
      <a href="{{ site.baseurl }}/faq/" class="tab-button">FAQ</a>
      <a href="{{ site.baseurl }}/contact/" class="tab-button">Contact</a>
   </div>

  <section class="wrapper style5" style="z-index: -1;">
    <div class="inner about-section">
      {{ content }}
    </div>

   <style>
    /* page-banner image */
    
    .background-about{
      background-image: url("{{ site.baseurl }}/images/Mission.png");
    }
    </style>
  </section>
</article>
