<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div> -->

    <div id="page-wrapper">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

      {% include scripts.html %}

    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

  </body>

</html>
