---
layout: subdefault
---
<div class="background-about"  id="backgroundAbout"></div>
<article id="main">
   
    <div class="button-bar">
      <a href="{{ site.baseurl }}/phd/" class="tab-button">PhD</a>
      <a href="{{ site.baseurl }}/ms/" class="tab-button">MS by Research</a>
      <a href="{{ site.baseurl }}/mtech/" class="tab-button">MTech</a>
      <a href="{{ site.baseurl }}/btech/" class="tab-button">BTech Minor</a>
      <a href="{{ site.baseurl }}/continuing_edu/" class="tab-button">Professional Programs</a>
    </div>

  <section class="wrapper style5" style="z-index: -1;">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>
