---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main" >
  <div class="topcontent" >
    <header style="height: 148px; margin-top: 70px;">
    </header>
    <div class="button-bar">
      <a href="admissions.html" class="tab-button">Admissions</a>
      <a href="projectsPositions.html" class="tab-button">Project Positions</a>
      <a href="postdocPositions.html" class="tab-button">Postdoc Positions</a>
      <a href="intern.html" class="tab-button">Internships</a>
      <a href="faculty_joinUS.html" class="tab-button">Faculty Positions</a>
    </div>
  </div>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>
