---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main" >
 
    <div class="button-bar">
      <a href="{{ site.baseurl }}/admissions/." class="tab-button">Admissions</a>
      <a href="{{ site.baseurl }}/projectsPositions/." class="tab-button">Project Positions</a>
      <a href="{{ site.baseurl }}/postdocPositions/." class="tab-button">Postdoc Positions</a>
      <a href="{{ site.baseurl }}/intern/." class="tab-button">Internships</a>
      <a href="{{ site.baseurl }}/faculty_joinUS/." class="tab-button">Faculty Positions</a>
    </div>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>
