---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main">
  <div class="topcontent">
    <header style="height: 148px; margin-top: 70px;">
      <h3 id = "topcontent-p">{{page.link}}</h3>
      <h2 id = "topcontent-h2">{{ page.title }}</h2>
      <!-- <p id = "topcontent-para" style="z-index: -1;">{{page.des}}</p> -->

    </header>
    <!-- <div class="button-bar">
      <a href="latest.html" class="tab-button" data-image="#">About</a>
      <a href="articles.html" class="tab-button" data-image="#">News</a>
      <a href="events.html" class="tab-button" data-image="#">Events</a>
    </div> -->
  </div>

  <section class="wrapper style5" style="z-index: -1;">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>

<script>

  document.addEventListener("DOMContentLoaded", function() {
    const backgroundAbout = document.getElementById('backgroundAbout');
        backgroundAbout.style.backgroundImage = `url(images/16.png)`;
  });

</script>
