---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main" >
 
    <div class="button-bar">
      <a href="{{ site.baseurl }}/research/" class="tab-button">Research</a>
      <a href="{{ site.baseurl }}/themes/" class="tab-button">Themes</a>
      <a href="{{ site.baseurl }}/projects/" class="tab-button">Projects</a>
      <a href="{{ site.baseurl }}/publications/" class="tab-button">Publications</a>
      <a href="{{ site.baseurl }}/labs/" class="tab-button">Facilities & Labs</a>
    </div>
 

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>
