---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main">

    <div class="button-bar">
      <a href="{{ site.baseurl }}/faculty/" class="tab-button">Faculty</a>
      <a href="{{ site.baseurl }}/students/" class="tab-button">Students</a>
      <a href="{{ site.baseurl }}/alumini/" class="tab-button">Alumini</a>
      <a href="{{ site.baseurl }}/staff/" class="tab-button">Staff</a>
      <a href="{{ site.baseurl }}/directory/" class="tab-button">Directory</a>
    </div>
 

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>
