---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main">
  <div class="topcontent">
    <header style="height: 148px; margin-top: 70px;">
      <h3 id = "topcontent-p">{{page.link}}</h3>
      <h2 id = "topcontent-h2">{{ page.title }}</h2>
      <!-- <p id = "topcontent-para" style="z-index: -1;">{{page.des}}</p> -->

    </header>
    <div class="button-bar">
      <a href="faculity.html" class="tab-button"  data-image="13.png">Faculty</a>
      <a href="students.html" class="tab-button"  data-image="11.png">Students</a>
      <a href="alumini.html" class="tab-button"   data-image="12.png">Alumini</a>
      <a href="staff.html" class="tab-button"     data-image="13.png">Staff</a>
      <a href="directory.html" class="tab-button"   data-image="14.png">Directory</a>
    </div>
  </div>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>

<script>
  // Retrieve saved color from localStorage before the page loads
  document.addEventListener("DOMContentLoaded", function() {
    const buttons = document.querySelectorAll('.tab-button');
    const backgroundAbout = document.getElementById('backgroundAbout');

    // Check if there's a stored image URL
    const storedImage = localStorage.getItem('selectedImage');
    if (storedImage) {
      backgroundAbout.style.backgroundImage = `url(images/${storedImage})`;
    }

    buttons.forEach(button => {
      button.addEventListener('click', function(e) {
        // e.preventDefault();
        const imageName = this.getAttribute('data-image');
        backgroundAbout.style.backgroundImage = `url(images/${imageName})`;

        // Store the selected image URL
        localStorage.setItem('selectedImage', imageName);
      });
    });
  });
</script>
