---
layout: subdefault
---
<div class="background-about" id="backgroundAbout"></div>
<article id="main">
  <div class="topcontent">
    <header style="height: 148px; margin-top: 70px;">
    </header>
    <div class="button-bar">
      <a href="faculity.html" class="tab-button">Faculty</a>
      <a href="students.html" class="tab-button">Students</a>
      <a href="alumini.html" class="tab-button">Alumini</a>
      <a href="staff.html" class="tab-button">Staff</a>
      <a href="directory.html" class="tab-button">Directory</a>
    </div>
  </div>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>
</article>
